:root {
    --navy-blue: #18121e;
    --navy-blue-light: #18121e90;
    --gunmetal: #233237;
    --rusty-red: #984b43;
    --ornate: #ab9353;
    --header-font: 'Merriweather', serif;
    --text-font: 'Inconsolata', monospace;
    --animation-duration: 1s;
    --brightness: 40%;
}

#header .animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}

.logo img {
    width: 1em;
    height: auto;
}

#header .story {
    -webkit-animation-duration: var(--animation-duration);
    -moz-animation-duration: var(--animation-duration);
    -ms-animation-duration: var(--animation-duration);
    -o-animation-duration: var(--animation-duration);
    animation-duration: var(--animation-duration);
    width: 100%;
    padding: 10px 20px 10px 20px;
}

.story:before {
    -webkit-filter: brightness(var(--brightness));
    -moz-filter: brightness(var(--brightness));
    -o-filter: brightness(var(--brightness));
    -ms-filter: brightness(var(--brightness));
    filter: brightness(var(--brightness));
}

.slogan {
    text-align: center;
}

#header .actions {
    line-height: 1em;
    font-family: var(--text-font);
}

#header .actions .action {
    color: white;
    background: transparent;
    border: 1px solid white;
    display: block;
    margin: 10px auto;
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#header .actions .action:active {
    color: #000;
    background: #eee;
    border: 1px solid black;
    font-weight: bold;
}

#header {
    font-size: 0.4em;
}

#drawer-right {
    background: var(--navy-blue);
}

a {
    color: var(--rusty-red);
}

#header .cookies {
    color: white;
    font-size: 1.8em;
    text-align: center;
    display: inline;
}

#header .cookies a.info {
    color: white;
    text-decoration: underline;
}

#header .cookies a.cclose {
    color: white;
    margin-left: 5px;
}

#header .top.solid {
    background: transparent;
    position: absolute;
}

#header .bottom {
    position: inherit;
}

#drawer-right a {
    font-family: var(--text-font);
}

#drawer-right a strong {
    color: #ab9353;
    font-weight: normal;
}

#drawer-right h2 {
    font-family: var(--header-font);
    font-size: 2em;
}

#concepto {
    font-family: var(--text-font);
    font-size: 1.3em;
}

#concepto h1 {
    font-family: var(--header-font)
}

#concepto a {
    color: white;
    text-decoration: underline;
}

#concepto .btn {
    text-decoration: none;
    background: var(--ornate);
}

#caracteristicas, #capitulos, #equipo {
    font-family: var(--text-font);
}

.block-heading {
    margin-top: 20px;
}

.block-heading h1, .block-heading h2, .block-heading h3, .blog-post h2 {
    font-family: var(--header-font);
    color: var(--navy-blue);
}

#caracteristicas, #caracteristicas h1, #caracteristicas h2 {
    color: white;
}

#caracteristicas .descripcion {
    font-size: 1.4em;
    font-family: var(--text-font);
}

#capitulos h2 {
    margin-top: 25px;
}

.bloque-parrafo {
    color: var(--navy-blue);
    padding: 0;
}

.bloque-parrafo h2 {
    font-family: var(--header-font);
}

.bloque-parrafo p {
    font-family: var(--text-font);
}

.slogan p {
    width: 100%;
    max-width: 100%;
}

#header.header-wrapper {
    -webkit-transition: background 1.0s ease-in-out;
    transition: background 1.0s ease-in-out;
}

.content-block {
    padding: 20px 0;
}

#footer {
    font-size: 0.6em;
    font-style: oblique;
}

#call-to-action {
    border-top: 1px solid white;
    padding: 5px;
}

#call-to-action p {
    font-size: 3em;
    color: white;
    font-family: 'Inconsolata';
}

#call-to-action a.btn {
    background-color: var(--rusty-red);
    color: white;
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.block-heading h1 {
    text-align: center;
}

.block-heading h2, .block-body h2 {
    font-size: 24px;
    color: var(--navy-blue-light);
    text-align: center;
}

.block-body h1 {
    font-size: 42px;
    color: var(--navy-blue);
    text-align: center;
}

@media (max-width: 731px) {
    #header .cookies {
        font-size: 1.2em;
    }

    .slogan {
        margin-top: 20px;
        padding: 0 10px;
        font-size: 2.8em;
        text-align: left;
    }

    #header .actions .action {
        display: block;
        font-size: 2.4em;
    }
}

@media (min-width: 732px) and (max-width: 899px) {
    .slogan {
        padding: 0 10px;
        font-size: 5.0em;
    }
    
    #header .actions .action {
        display: inline-block;
        font-size: 4.0em;
    }
}

@media(min-width: 900px) {
    #header .actions .action:hover {
        color: #000;
        background: #eee;
        border: 1px solid black;
        font-weight: bold;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .slogan {
        padding: 0 10px;
        font-size: 7.0em;
    }
    
    #header .actions .action {
        display: inline-block;
        font-size: 5em;
    }
}

@media (min-width: 1200px) and (max-width: 1799px) {
    .slogan {
        padding: 0 10px;
        font-size: 5.0em;
    }
    
    #header .actions .action {
        display: inline-block;
        font-size: 5.0em;
    }

    #header .bottom {
        position: absolute;
        bottom: 5%;
    }
}


@media (min-width: 1800px) {
    .slogan {
        padding: 0 10px;
        font-size: 8.0em;
    }
    
    #header .actions .action {
        display: inline-block;
        font-size: 3.5em;
    }
}

@media (min-width: 733px) {    
    .slogan {
        text-align: center;
    }

    .actions {
        text-align: center;
    }

    #header .actions .action {
        margin: 10px 10px;
    }
}